
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="banner-page">
    <h1 class="text-light fst-italic">Giỏ hàng</h1>
</div>

<div class="breadcrumb py-3">
    <div class="container">
        <a href="/">Trang chủ &nbsp;</a>
        <span class="text-origin">Giỏ hàng</span>
    </div>
</div>

<div class="alert alert-success text-center">
    Bạn vừa đặt hàng thành công !!! <a href="/">Về trang chủ</a>
</div>

