@model IEnumerable<BTNhom_MocPhuc.Models.HOADON>
@using BTNhom_MocPhuc.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutQuanTri.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "NGAYDATHANG", rowsPerPage: 10);
    MocPhucEntities db = new MocPhucEntities();
    int sumMoney = 0;
}

<style type="text/css">
    .grid-footer {
        color: #000;
        font: 17px Calibri;
        text-align: center;
        font-weight: bold;
    }

        .grid-footer a {
            background-color: #ffffff;
            color: blue;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            padding: 1px 10px 2px 10px;
        }

            .grid-footer a:active, a:hover {
                background-color: #ffffff;
                color: #FFAD33;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }

    .alternatingRowStyle {
        background-color: aliceblue;
    }

    table .table1 {
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
        width: 800px;
    }

    .tr, .td {
        text-align: left;
    }

    a {
        text-decoration: none;
        color: #000;
    }
</style>

<div class="container">
    <h3 class="my-3">Danh sách đơn hàng</h3>
    <p><a href="/HOADONs/TimKiemNC">Tìm kiếm</a></p>
    @grid.GetHtml(
    tableStyle: "table table-bordered table-hover",
    footerStyle: "grid-footer",
    fillEmptyRows: true,
    mode: WebGridPagerModes.Numeric,
    alternatingRowStyle: "alternatingRowStyle",
    columns: new[]  // colums in grid
        {
            grid.Column("IDHD","Mã hóa đơn", format: @<text>#@item.IDHD</text>), //the model fields to display
            grid.Column("NGAYDATHANG","Ngày đặt", format:@<text> @item.NGAYDATHANG.ToString("dd/MM/yyyy")</text>),
            grid.Column("NGAYGIAOHANG","Ngày giao hàng", format:@<text> @item.NGAYGIAOHANG.ToString("dd/MM/yyyy")</text>),
            grid.Column("","Nhân viên duyệt", format: (@item) => item.MANVDUYET == null?"": item.NHANVIEN.HO+" "+item.NHANVIEN.TENDEM+" "+item.NHANVIEN.TEN),
            grid.Column("","Nhân viên giao", format: (@item) => item.MANVGIAO == null?"": item.NHANVIEN1.HO+" "+item.NHANVIEN1.TENDEM+" "+item.NHANVIEN1.TEN),
            grid.Column("TINHTRANG1.TENTINHTRANG","Tình trạng"),
            grid.Column(format: @<text>
                <a href="@Url.Action("Details", new { id = item.IDHD})" class="edit-btn text-primary">
                    Chi tiết
                </a>
            </text>),

         }
    )
</div>
